<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>스터디 개설</h2>
    </div>
    <div class="row justify-content-center">
        <form class="need-validation col-sm-10" method="post" novalidate th:action="@{/new-study}"
              th:object="${studyForm}">
            <div class="form-group">
                <label for="path">스터디 URL</label>
                <input aria-describedby="pathHelp" class="form-control" id="path" placeholder="예) study-path"
                       required th:field="*{path}" type="text" min="2" max="20">
                <small class="form-text text-muted" id="pathHelp">
                    <span>공백없이 문자, 숫자, 대시(-)와 언더바(_)만 3자 이상 20자 이내로 입력하세요. 스터디 홈 주소에 사용됩니다.</span>
                    <span>예) /study/<b>study-path</b></span>
                </small>
                <small class="invalid-feedback">스터디 경로를 입력하세요.</small>
                <small class="form-text text-danger" th:errors="*{path}"
                       th:if="${#fields.hasErrors('path')}">Path Error</small>
            </div>

            <div class="form-group">
                <label for="path">스터디 제목</label>
                <input aria-describedby="titleHelp" class="form-control" id="title" placeholder="스터디 이름"
                       required th:field="*{title}" type="text" max="50">
                <small class="form-text text-muted" id="titleHelp">
                    스터디 이름을 50자 이내로 입력해주세요.
                </small>
                <small class="invalid-feedback">스터디 이름을 입력하세요.</small>
                <small class="form-text text-danger" th:errors="*{title}"
                       th:if="${#fields.hasErrors('title')}">Title Error</small>
            </div>

            <div class="form-group">
                <label for="shortDescription">스터디 짧은 소개</label>
                <textarea aria-describedby="shortDescriptionHelp" class="form-control" id="shortDescription" placeholder="스터디를 짧게 소개해 주세요"
                          required th:field="*{shortDescription}" type="textarea" maxlength="100"></textarea>
                <small class="form-text text-muted" id="shortDescriptionHelp">
                    100자 이내로 스터디의 짧은 소개를 입력해주세요.
                </small>
                <small class="invalid-feedback">스터디의 짧은 소개를 입력하세요.</small>
                <small class="form-text text-danger" th:errors="*{shortDescription}"
                       th:if="${#fields.hasErrors('shortDescription')}">Short Description Error</small>
            </div>

            <div class="form-group">
                <label for="fullDescription">상세 소개</label>
                <textarea aria-describedby="fullDescriptionHelp" class="editor form-control" id="fullDescription" placeholder="스터디를 짧게 소개해 주세요"
                          required th:field="*{fullDescription}" type="textarea"></textarea>
                <small class="form-text text-muted" id="fullDescriptionHelp">
                    스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어주세요.
                </small>
                <small class="invalid-feedback">스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어주세요.</small>
                <small class="form-text text-danger" th:errors="*{fullDescription}"
                       th:if="${#fields.hasErrors('fullDescription')}">Full Description Error</small>
            </div>

            <div class="form-group">
                <button aria-describedby="submitHelp" class="btn btn-primary btn-block" type="submit">스터디 만들기</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
<script th:replace="fragments.html :: editor-script"></script>
</body>
</html>