<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>
<!--                                                    account를 넘겨야 한다. -->
                                                    <!-- account 정보는 있으나 emailVerified가 false인경우 (! 이므로 true가된다)-->
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    HAPPY CODERS 가입을 완료하려면 <a th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a> 하세요
</div>

<div class="container">
    <div class="py-5 text-center">
        <h2>HAPPY CODERS</h2>
    </div>

    <div th:replace="fragments.html :: footer"></div>

</div>
    <script type="application/javascript">
        (function () {

        }())
    </script>

</body>
</html>