<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
    $("#profile-image-file").change (function (e){ // profile-image-file 인풋 창의 값이 바뀌면 ! 이 함수가 실행
        if (e.target.files.length === 1) { //flle을 하나 선택한다면,
            const reader = new FileReader(); //FileReader -> JS에서 File을 읽어올 수 있는 라이브러리
            reader.onload = e => { // 파일을 읽어온다. 파일이 onload상태, 즉 읽어와진 상태가 된것
                if (e.target.result) { // 파일을 이미 이제 가져왔다. 파일이 있다면,
                    let img = document.createElement("img"); //document에 img 태그를 만들어라.
                    //img 태그의 attribute들을 채워 넣는작업
                    img.id = 'new-profile';
                    img.src = e.target.result;
                    img.width = 250;

                    $newProfileImage.html(img); //newProfileImage에 img 태그를 채워 넣는작업.
                    $newProfileImage.show();
                    $currentProfileImage.hide();

                    let $newImage = $(img); //위에서 만든 img 태그를 #newImage라는 변수의 JQuery로 감싼다.
                    $newImage.cropper({aspectRatio: 1});
                    cropper = $newImage.data('cropper');

                    $cutBtn.show();
                    $confirmBtn.hide(); //확인 버튼은 숨겨놓는다. 자른다음에 확인을 해야함.
                    $resetBtn.show();
                }
            };
            reader.readAsDataURL(e.target.files[0]); // 그 파일을
        }
    });

</script>
</html>