<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='zones')"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12"> 주요 활동 지역 설정 </h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info" role="alert">
                        <div>
                          주로 스터디를 다닐 수 있는 지역을 등록하세요
                        </div>
                        <div>
                            해당 지역의 스터디가 생기면 알림을 받을 수 있습니다.
                        </div>
                        <div>
                            (지역은 시스템에 등록된 지역만 등록 가능합니다.)
                        </div>
                    </div>
                    <div id="whitelist" th:text="${whiteList}" hidden></div>
                    <input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones,',')}"
                           class="tagify-outside" aria-describedby="tagHelp" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<!--CSRF token 을 주기위한 JS-->
<script th:replace="fragments.html::ajax-csrf-header"></script>
<script type="application/javascript">
    $(function () {
        function zoneRequest (url, zoneName) {
            $.ajax({
                dataType : "json",
                autocomplete : {
                    enabled : true,
                    rightKey : true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/settings/zones" + url,
                data: JSON.stringify({'zoneName': zoneName}) // 보낼 데이터 -> json형태로 body에 실어서 보냄
            }).done (function (data, status) {
                console.log("${data} and status is ${status}");
            }) ;
        }
        function onAdd (e) {
            zoneRequest("/add", e.detail.data.value);
        }

        function onRemove (e) {
            zoneRequest("/remove", e.detail.data.value);
        }

        var zoneInput = document.querySelector("#zones");

        var tagify = new Tagify (zoneInput, {
            enforceWhitelist: true,
            whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
            dropdown : {
                enabled: 1,
            }
        });

        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        //yaireo.github.io/tagify/ 의 예제 복사 (#Outside-Of-The-Box)

        tagify.DOM.input.classList.add('form-control');
        tagify.DOM.scope.parantNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>

</body>
</html>